{% extends "bootstrap/base.html" %}
{% block title %}超然的博客{% endblock %}
{% import "_pagination.html" as page_macro %}

{% block head %}
{{super()}}
<link href="{{url_for('static',filename='css/custom/background.css')}}" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% include "_navbar.html" %}

{% block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12 col-md-12">

    </div>
</div>
<div class="row">
    <!--文章-->
    <div class="col-xs-12 col-md-7 col-md-offset-2"><!--col-md-offset-1-->
    {% include "_posts.html" %}
    {{ page_macro.render_pagination(pagination, ".index") }}
    </div>


</div>

{% endblock %}

