{% extends "bootstrap/base.html" %}
{% block title %}在线聊天室{% endblock %}
{% block content %}
<ul class="chat_list"></ul>

    <form  id ="chat" role="form" >
        <div class="row">
            <div class="col-lg-2">
            <input name="name" type="text" class="form-control" placeholder="用户名">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
            <input name="message" type="text" class="form-control" placeholder="说点什么...">
            </div>
        </div>
            <span class="input-group-btn">
                 <button class="btn btn-success" id="send" type="button">发送</button>
             </span>
    </form>


{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/script/jquery.js"></script>
<script type="text/javascript" src="/static/script/main.js"></script>

<script type="text/javascript">

    create_comet(timestamp);
    on_submit()
</script>
{% endblock %}
